<button [disabled]="turn > 0 && turn != maxturn"(click)="guessMe()" type="button" class="btn btn-warning" id="guessNote">Guess Note</button>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{percentage}}%"></div>
</div>
<p class="rcorners" id="score"></p>
<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="chooseScale('C')"ngbDropdownItem>C major</button>
          <button (click)="chooseScale('Cm')"ngbDropdownItem>C minor</button>
        </div>
      </div>
    </div>
</div>
<div class="piano">
        <div class="ckey">
            <a (click)="clickKey(0, true)"> <img src="assets/{{colors[0]}}whitekey.png"/></a>
        </div>
        <div class="dkey">
            <a (click)="clickKey(2, true)"> <img src="assets/{{colors[2]}}whitekey.png"/></a>
        </div>
        <div class="ekey">
            <a (click)="clickKey(4, true)"> <img src="assets/{{colors[4]}}whitekey.png"/></a>
        </div>
        <div class="fkey">
            <a (click)="clickKey(5, true)"> <img src="assets/{{colors[5]}}whitekey.png"/></a>
        </div>
        <div class="gkey">
            <a (click)="clickKey(7, true)"> <img src="assets/{{colors[7]}}whitekey.png"/></a>
        </div>
        <div class="akey">
            <a (click)="clickKey(9, true)"> <img src="assets/{{colors[9]}}whitekey.png"/></a>
        </div>
        <div class="bkey">
            <a (click)="clickKey(11, true)"> <img src="assets/{{colors[11]}}whitekey.png"/></a>
        </div>

        <div class="cskey blackkey">
            <a (click)="clickKey(1, true)"> <img src="assets/{{colors[1]}}blackkey.png"/></a>
        </div>

        <div class="dskey blackkey">
            <a (click)="clickKey(3, true)"> <img src="assets/{{colors[3]}}blackkey.png"/></a>
        </div>
        
        <div class="fskey blackkey">
            <a (click)="clickKey(6, true)"> <img src="assets/{{colors[6]}}blackkey.png"/></a>
        </div>

        <div class="gskey blackkey">
            <a (click)="clickKey(8, true)"> <img src="assets/{{colors[8]}}blackkey.png"/></a>
        </div>

        <div class="askey blackkey">
            <a (click)="clickKey(10, true)"> <img src="assets/{{colors[10]}}blackkey.png"/></a>
        </div>
</div>
